/* reset is in index.css */

/* main Container */
.main{
    display: flex;
    flex-direction: column;
    height: max-content;
}

/* For Header */
.nav-container{
    width: 100%;
    padding: 10px 9%;
    background-color: whitesmoke;
    position: relative;
}

.nav-head{
    display: flex;
    flex-flow: row nowrap;
    gap: 1.2rem;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.nav-name{
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

.nav-menu{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    font-weight: 200;
}

li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

li > a {
    text-decoration: none;
    color: black;
    padding: 2px 5px;
    text-align: center;
}

li > a:focus{
    background-color: rgb(82, 76, 76);
    color: whitesmoke;
}



.cart{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    cursor: pointer;
    border: 1.2px solid rgb(39, 38, 38);
    padding: 5px 10px;
    border-radius: 5px;
}

.cart:hover{
    background-color: rgb(213, 218, 221);
}

.count{
    border-radius: 40%;
    background-color: black;
    color: white;
    padding: 1px 6px;
}



.menu-burger{
    font-size: 24px;
    color: rgb(65, 61, 61);
    font-weight: 600;
    border: 1px solid grey;
    padding: 3px 10px;
    display: none;
}



.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    background-color: rgb(79, 75, 75);
    color: white;
}

.banner > h2 {
    font-size: clamp(25px,3vw,45px);
    font-weight: 700;
}


/* Container for shopping cards */
.main-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    padding: 15px 10%;
    margin-bottom: 25px;
}


/* Shopping cards  */
.card{
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    justify-content: start;
    align-items: center;
    height: max-content;
    gap: 1rem;
    height: 370px;
    padding-bottom:10px;
    border-radius: 10px;
    border: 0.5px solid rgb(196, 189, 189);
}

.card-image{
    background-color: rgb(221, 214, 214);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 200;
    color:rgb(55, 52, 52);
    position: relative;
    overflow: hidden;
}

.card-image > img {
    width: 100%;
}

.sale{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 14px;
    font-weight: 700;
    background-color: black;
    color: white;
    padding: 2px 7px;
    border-radius: 5px;
    display: none;
}

.sale.active{
    display: block;
}

.card-content{
    display: flex;
    height: 40%;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.card-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.card-details > h3{
    font-size: 20px;
}

.pre-price{
    display: none;
}

.pre-price.active{
    display: inline;
    margin-right: 5px;
}

.pre-price > del{
    color: rgba(0, 0, 0, 0.501);
}

.btn{
    text-align: center;
    padding: 8px 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    background-color: transparent;
}

.btn:hover{
    background-color: rgb(54, 52, 52);
    color: whitesmoke;
}


/* Footer */
footer{
    width: 100%;
    background-color: rgb(46, 38, 38);
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media Queries */
@media screen and (width<1020px){
    .main-container{
        padding: 15px 6%;
        grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    }
}

@media screen and (width<820px){

    .main-container{
        gap: 1rem;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        padding: 15px 5%;
    }

    /* Nav */
    .nav-container{
        padding: 10px 10px;
    }

    .menu-burger{
        display: block;    
    }

    .nav-head{
        justify-content: space-between;
    }

    .nav-menu{
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color: whitesmoke;
        padding: 5px 0 10px 10px;
        height: 180px;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-container.active{
        padding: 10px 10px;
        margin-bottom: 180px;
    }

    .nav-menu > ol{
        display: flex;
        flex-flow: column nowrap;
    }
}

@media screen and (width<570px){
    .main-container{
        gap: 1rem;
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
        padding: 15px 4%;
    }
}
